.container {
  max-width: 100%;
  margin: 0 auto;
  @include breakpoint ('sm') {
    max-width: $sm;
  }
  @include breakpoint ('md') {
    max-width: $md;
  }
  @include breakpoint ('lg') {
    max-width: $lg;
  }
  @include breakpoint ('xl') {
    max-width: $xl;
  }
  @include breakpoint ('xxl') {
    max-width: $xxl;
  }
}
